body,
body * {
  box-sizing: border-box;
}

.splash {
  display: flex;
  flex-direction: column;
  font-size: 18vw;
  height: 100%;
  justify-content: center;
}
.splash > * {
  text-align: center;
}
.splash > *:first-child {
  margin-bottom: 4vh;
}
